<html>
  <style>
  #selector {
      width:100%;
      height:100%;
  }
  </style>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <img src='https://i.gifer.com/Juq.gif' id='selector'/>
  </body>
</html>
